.pagination{
    margin: 20px auto;
    font-size: 30px;
    min-width: 100px;
    text-align: center;
}
.pagination ul{
    list-style-type: none;
    margin: 0;
}
.pagination li{
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    border: solid 2px black;
}

.pagination li:hover{
    color: gray;
}

li.disabled{
    cursor: not-allowed;
    color: gray;
    border: solid 2px gray;
}