.cart {
	margin-top: 20px;
}
.cart-empty {
	text-align: center;
	margin: 0 auto;
	font-size: 25px;
}
.cartItem {
	margin: 0 auto;
	width: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid 1px;
	border-top: none;
	padding: 5px 10px;
	min-height: 120px;
}
#cartItem_first {
	border-top: solid 1px;
}

.cart-title,
.cart-checkout {
	margin: 20px auto;
	width: 620px;
}
.cart-title {
	font-size: 25px;
	font-weight: 600;
}
.cart-checkout {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#checkout {
	cursor: pointer;
	padding: 8px 25px;
	border-radius: 3px;
	background-color: #f08700;
	color: white;
	font-weight: 400;
	font-size: 16px;
	outline: none;
	border: none;
}

.cart-checkout .totalprice {
	font-size: 25px;
	margin-right: 10px;
}

.itemContent {
	display: flex;
}

.text > div {
	padding: 5px 0 10px 15px;
}

.cartItem img {
	width: 100px;
}

.text-name {
	font-size: 20px;
}

.text-quantityBlock {
	display: inline-block;
	text-align: center;
	border: none;
	outline: none;
	width: 40px;
	background-color: rgba(128, 128, 128, 0.418);
	padding: 3px 3px 3px 10px;
}
.text-remove {
	font-size: 12px;
	margin-left: 20px;
	color: #45a3eb;
	cursor: pointer;
}
.text-remove:hover {
	text-decoration: underline;
}

.itemPrice {
	height: 100px;
	font-size: 25px;
	margin-right: 10px;
}
